.header {
	margin-top: -2.4rem;
	padding-top: var(--space-s);
	overflow-x: hidden;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: sticky;
		top: 5%;
		z-index: 2;
		margin: 0 auto;
	}

	&-nav {
		font-family: var(--ff-secondary);
		font-weight: var(--medium);
		font-size: var(--step-nav);
		width: 100%;
		min-height: 110vh;
		position: fixed;
		top: 0;
	}

	.nav-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		background-color: var(--color-neutral-100);
		min-height: 100vh;
		width: 100vw;

		&-item {
			display: flex;
			gap: 0.5rem;
			text-align: center;

			&:nth-child(2n) {
				flex-direction: row-reverse;
			}
		}

		&-link {
			text-decoration: none;
			color: var(--color-neutral-900);
			transition: all 250ms ease-in-out;

			&:hover {
				color: var(--color-neutral-100);
				text-shadow: -1px -1px 0 var(--color-neutral-900),
					1px -1px 0 var(--color-neutral-900),
					-1px 1px 0 var(--color-neutral-900),
					1px 1px 0 var(--color-neutral-900);
			}
		}

		.item-counter {
			font-size: var(--step-nav-counter);
			color: var(--color-accent);
			align-self: end;
		}
	}
}

.logo {
	width: var(--logo);
	height: var(--logo);
}

.square {
	width: 25px;
	height: 25px;
	background-color: var(--color-accent);
	text-align: center;
	position: sticky;
	top: 4%;
	left: 90%;
	transition: all 350ms ease;
	z-index: 3;

	@media (min-width: 760px) {
		left: 95%;
	}

	@media (min-width: 1000px) {
		opacity: 0;
	}

	@media (max-width: 1000px) {
		opacity: 1;
	}

	& > img {
		width: 100%;
		height: 100%;
	}
}

.slide-in-top {
	animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
	0% {
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.slide-out-top {
	animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-top {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-1000px);
		opacity: 0;
	}
}

// desktop navigation

@media (max-width: 1000px) {
	.desktop-nav-list {
		opacity: 0;
		display: none;
	}
}

.desktop-nav-list {
	display: flex;
	justify-content: center;
	align-items: end;
	gap: 2rem;
	margin-right: 7.375rem;
	list-style: none;

	&-link {
		text-decoration: none;
		color: var(--color-neutral-900);
		transition: all 250ms ease-in-out;
		font-size: 1.188rem;
		font-family: var(--ff-primary);
		font-weight: var(--semi-bold);
		font-size: clamp(1.19rem, calc(-0.22rem + 2.25vw), 1.75rem);

		&:hover {
			color: var(--color-accent);
		}
	}

	&-item {
		display: flex;
		text-align: left;
		flex-direction: column;
		align-items: start;
	}
}

.desktop-item-counter {
	font-size: 1.188rem;
	opacity: 0.7;
	font-family: var(--ff-primary);
}

.scroll-change-visible {
	opacity: 1;
}

.scroll-change-hidden {
	opacity: 0;
}

.rotate-square-clock {
	transform: rotate(90deg);
}
