.hero {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;

	@media (min-width: 760px) {
		flex-direction: row;
	}

	&-text {
		text-align: left;

		.hero-title {
			font-family: var(--ff-secondary);
			font-weight: var(--bold);
			font-size: var(--step-main-title);
			text-transform: uppercase;

			.blue {
				color: var(--color-accent);
			}
		}

		.to {
			font-size: clamp(3.08rem, calc(2.6rem + 2.12vw), 4.45rem);
			font-family: var(--ff-secondary);
			font-weight: var(--bold);
			text-transform: lowercase;
		}
		.chatbot-word {
			font-family: var(--ff-secondary);
			font-weight: var(--bold);
			font-size: var(--step-main-title);
			position: relative;
			z-index: -1;

			&::before {
				content: 'chatbots';
				position: absolute;
				top: 3%;
				left: 2%;
				z-index: -1;
				color: var(--color-neutral-100);
				text-shadow: -1px -1px 0 var(--color-accent),
					1px -1px 0 var(--color-accent), -1px 1px 0 var(--color-accent),
					1px 1px 0 var(--color-accent);
			}
		}
	}

	&-description {
		font-family: var(--ff-primary);
		font-size: var(--step-paragraps);
		font-weight: var(--regular);

		@media (min-width: 1000px) {
			margin-top: 3rem;
			width: 45ch;
		}
	}

	&-buttons {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		margin-top: 2rem;
		font-family: var(--ff-primary);
		font-size: var(--step-btn-text);
		align-items: flex-start;

		& > :first-child {
			text-decoration: none;
			color: var(--color-neutral-100);
			background-color: var(--color-neutral-900);
			width: clamp(9.75rem, calc(8.77rem + 4.36vw), 11.88rem);
			height: clamp(2.38rem, calc(2.14rem + 1.03vw), 2.88rem);
			display: grid;
			place-content: center;
			border-radius: 50px;
			padding: 0.5rem;
		}

		& > :nth-child(2) {
			color: var(--color-neutral-900);
			text-decoration: none;
			width: clamp(9.75rem, calc(8.77rem + 4.36vw), 11.88rem);
			height: clamp(2.38rem, calc(2.14rem + 1.03vw), 2.88rem);
			display: grid;
			place-content: center;
			border-radius: 50px;
			border: 2px solid var(--color-accent);
		}

		@media (min-width: 760px) {
			flex-direction: row;
			justify-content: start;
			margin-top: 3rem;
		}
	}

	&-image {
		align-self: end;
		text-align: right;
		width: 100%;
		padding: 0.4rem;

		& > picture > .image {
			width: 100%;
			height: 100%;
			margin-top: -2rem;
		}
	}
}

@media (min-width: 1400px) {
	.hero-flex-container {
		display: flex;
		gap: 1rem;
	}
}
